.detail-container {
    margin: 20px 0;
    padding: 20px;
    background-color: #1c1c1c; 
    border-radius: 8px; 
    color: white; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s; }

.detail-container:hover {
    transform: translateY(-2px); 
}

.detail-title {
    font-size: 28px; 
    color: #9c32ff; 
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
}

.detail-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}

.detail-img {
    width: 200px;
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    margin-bottom: 15px; 
}

.detail-genres {
    font-size: 16px; 
    color: #d3d3d3; 
    text-align: left; 
    width: 520px;
}

.toggle-descripcion {
    font-size: 14px;
    color: #9809e5;
    cursor: pointer;
    margin-top: 10px; 
    transition: color 0.3s;
}

.toggle-descripcion:hover {
    color: #b84ce6; 
    text-decoration: underline;
}

.descripcion-section {
    background-color: #2a2a2a;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    color: #d3d3d3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.back-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #9c32ff; 
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s; 
}

.back-link:hover {
    color: #8044c0d6; 
    text-decoration: underline;
}


.favorite-button {
    background-color: #bd06f4; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}

.favorite-button:hover {
    background-color: #a500d0; 
    transform: scale(1.05); 
}

@media (max-width: 390px) {
    .detail-container {
        margin: 15px 0;
        padding: 15px;
    }

    .detail-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .detail-info {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .detail-img {
        width: 150px;
    }

    .detail-genres {
        font-size: 14px;
        width: 100%;
        text-align: center;
    }

    .toggle-descripcion {
        font-size: 12px;
    }

    .descripcion-section {
        font-size: 12px;
        padding: 8px;
    }

    .back-link {
        font-size: 14px;
    }

    .favorite-button {
        font-size: 14px;
        padding: 8px 12px;
    }
}
