
.card-pelicula {
    background-color: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 200px; 
    margin: 15px;
    text-align: center;
    color: white;
    padding: 15px;
    cursor: pointer;
}


.card-pelicula:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}


.pelicula-img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 10px;
}

.pelicula-title {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}


.toggle-descripcion {
    font-size: 14px;
    color: #9809e5;
    cursor: pointer;
}

.toggle-descripcion:hover {
    text-decoration: underline;
}


.descripcion-section {
    background-color: #2a2a2a;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    color: #d3d3d3;
}


.detalle-link {
    display: inline-block;
    margin-top: 15px;
    color: #9809e5;
    font-size: 16px;
    text-decoration: none;
}

.detalle-link:hover {
    color: #bd06f4;
    text-decoration: underline;
}

.fav-button {
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s; 
    font-size: 16px; 
    
}

.fav-button.add {
    background-color: #9c32ff;
}

.fav-button.add:hover {
    background-color: #a500d0; 
    transform: scale(1.05); 
}

.fav-button.remove {
    background-color: white; 
    color: #9c32ff; 
    border: 2px solid #9c32ff; 
}

.fav-button.remove:hover {
    background-color: #f0f0f0; 
    transform: scale(1.05); 
}
@media (max-width: 390px) {
    .card-pelicula {
        width: 95%;
        margin: 10px auto;
        padding: 8px;
    }

    .pelicula-img {
        height: auto;
        max-height: 200px;
    }

    .pelicula-title {
        font-size: 14px;
        margin: 6px 0;
    }

    .toggle-descripcion {
        font-size: 12px;
    }

    .descripcion-section {
        font-size: 12px;
        padding: 6px;
    }

    .fav-button {
        padding: 6px 10px;
        font-size: 12px;
        margin-top: 8px;
    }

    .detalle-link {
        font-size: 12px;
        margin-top: 8px;
    }
}
