.card-container {
  margin: 20px 0;
  padding: 20px;
  background-color: #141414; 
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
  text-align: center; /* Asegura que todo esté centrado */
}

.section-title {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
  background-color: #383838;
  border-radius: 8px;
  padding: 10px; /* Añadí padding para mejorar la visibilidad */
}

/* Cambié el cards-wrapper para que sea un grid */
.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 4 columnas de igual ancho */
  grid-gap: 20px; /* Espacio entre tarjetas */
  justify-items: center; /* Centra las tarjetas en cada columna */
  padding: 10px;
}

.card {
  background-color: #1c1c1c; 
  border-radius: 5px; 
  padding: 15px; 
  width: 200px; 
  color: white; 
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.no-movies {
  color: white;
  text-align: center;
  font-size: 18px;
}

.view-all-link {
  display: inline-block; 
  margin: 20px auto; 
  text-align: center;
  color: white; 
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  background-color: #9c32ff; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
  transition: background-color 0.3s, transform 0.3s; 
}

.view-all-link:hover {
  background-color: #8810b7; 
  transform: translateY(-2px); 
  text-decoration: none; 
}

/* Estilo para el cuerpo */
body {
  background-color: #383838;
}

/* Estilos responsivos */
@media (max-width: 390px) {
  .card-container {
      margin: 10px 0;
      padding: 15px;
  }

  .section-title {
      font-size: 20px;
      margin-bottom: 15px;
      background-color: #383838;
  }

  .cards-wrapper {
      display: grid;
      grid-template-columns: 1fr; /* 1 columna para pantallas pequeñas */
      grid-gap: 10px;
  }

  .card {
      width: 100%;
      padding: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  .no-movies {
      font-size: 16px;
  }

  .view-all-link {
      font-size: 14px;
      padding: 8px 12px;
  }
}