.footer {
    background-color: #141414;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  @media (max-width: 768px) {
    .footer {
        padding: 15px;
        font-size: 12px;
    }

    .footer a {
        margin: 0 5px;
    }
}
